.main-container{

  .nav-main-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 8%;


    .left-nav {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: $navbarFontSize;
      font-family: $navbarFont;
      color: $navbarFontColor;
      padding: 0px 29px;

      .hipcamp_logo {
        width: 15vw;    }

    }

    .right-nav {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: $navbarFontSize;
      font-family: $navbarFont;
      color: $navbarFontColor;
      padding: 0px 20px 0px 6px;
    }
  }

  .footer {
    position: absolute;
    width: 100vw;
    bottom: 0;
  }

  .footer-main {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 25vh;

    .ftr-bg {
      position: absolute;
      width: 100vw;
      bottom: 0;
      z-index: -1;
    }
  }


}
