.carousel-container {
  display: flex;
  width: auto;
  height: 550px;
  padding: 0;
  margin: 0% 1%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  box-sizing: border-box;


  .carousel-main-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .carousel-inner-container {
      display: flex;
      height: 100%;
      box-sizing: border-box;
      justify-content: center;
      
      .carousel-slide {
        display:flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;

        .carousel-photo {
          margin: 0% 1%;
          width: 40%;
          height: 100%;
          padding: 0;
        }

        .lastClone {
          width: 40%;
          height: 100%;
          padding: 0;
          margin: 0% 1%;
        }

        .firstClone {
          width: 40%;
          height: 100%;
          padding: 0;
          margin: 0% 1%;
        }
      }
    }
  }


  .prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    opacity: 0.9;
  }

  .nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    opacity: 0.9;
  }

}
