.footer {
  margin-top: 10%;
  position: relative;

   .footer-main {
    width: 100%;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 200px;
    background-image: asset-url('footer_background.svg');
    background-size: 600px;
    background-position: bottom center;
    background-repeat: repeat-x;
    background-color: #41305C;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border: solid red;
    box-sizing: border-box;
    position: relative;

    .footer-description-container {
      display: flex;
      justify-content: center;
      padding: 50px 25px;
      border: solid yellow;

      .footer-description {
        border: solid red;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 3%;

        .footer-description-text-title {
          border: solid blue;
          width: 100%;
          margin-bottom: 3%;

          // .footer-description-text-title > h3 {
          //   font-size: 15px;
          //   color: #70539f;
          // }

          .footer-description-text-h3 {
            font-size: 15px;
            color: #70539f;
          }

        }
  
        .footer-description-text-body {
          border: solid green;
          margin-bottom: 3%;
          width: 80%;
          
          // .footer-description-text-body > p {
          //   font-size: 15px;
          //   color: rgba(255, 255, 255, 255);
          // }

          .footer-description-text-p {
            font-size: 15px;
            color: rgba(255, 255, 255, 255);
          }
          
        }
      }
    }

    .footer-social-container {
      border: solid red;
      width: 13%;

      .footer-social {
        border: solid blue;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .footer-social-title {
          border: solid yellow;
          font-size: 15px;
          color: #70539f;
          margin-bottom: 15px;
        }

        .footer-social-github {
          border: solid orange;
          margin-bottom: 15px;
          color: rgba(255, 255, 255, 255);
        }

        .footer-social-linkedin {
          border: solid green;
          margin-bottom: 15px;
          color: rgba(255, 255, 255, 255);
        }

      }
    }
  }

}

