.spot-cards {
  display: flex;
  justify-content: space-around;
  border: solid blue;
  
  
  .spot-cards-container {
    // display: flex;
    // flex-direction: column;
    width: 32%;
    box-shadow: 0px 1px 1px 1px #e3e3e3;
    border: solid palevioletred;

    .cards {
      margin-left: 1%;
      border: solid lime;

      .cards-header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: solid green;
      }

      .cards-filter {
        display: flex;
        margin-bottom: 3px;
        justify-content: space-between;
        align-items: center;
        border: solid red;

        .cards-img {
          height: auto;
          width: 30px;
          display: inline-block;
          box-sizing: border-box;
          border: solid yellow;
        }
      }
    }
  }
}