.spot-cards {
  display: flex;
  justify-content: space-around;
  border: solid blue;
  
  
  .spot-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: solid palevioletred;

    .cards {
      height: fit-content;
      width: 33%;
      box-sizing: border-box;
      margin-left: 3%;
      border: solid lime;
      box-shadow: 0px 1px 1px 1px #e3e3e3;

      .cards-header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid green;
      }

      .cards-filter {
        display: flex;
        margin-bottom: 3px;
        justify-content: space-between;
        align-items: center;
        border: solid red;

        .activities-cards-info-container {
          border: solid blue;
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          justify-content: space-between;
        }

        .amenities-cards-info-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          justify-content: space-between;
          align-items: center;
        }
          
          .cards-img {
            height: auto;
            width: 30px;
            display: inline-block;
            box-sizing: border-box;
          }

          .amenities-cards-span {
            box-sizing: border-box;
            font-size: 14px;
            padding: 6px 0px;
            box-sizing: border-box;
          }
  
          .activities-cards-span {
            box-sizing: border-box;
            font-size: 14px;
            padding: 6px 0px;
            box-sizing: border-box;
          }

      }
    }
  }
}