.spot-activities-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333333;
  margin: 3% 2%;
  box-shadow: 0px 1px 1px 1px #e3e3e3;

  .activities-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
  }

  .activities-array {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  
  .spot-activity-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2% 2%;
    box-shadow: 0px 1px 1px 0px #e3e3e3;
    height: 100px;
    width: 100px;
    
    
    .spot-activities {
      margin: 2% 0%;


      .spot-activity-img {
        height: 65px;
        width: 65px;
      }

      .spot-activitiy-p {
        margin: 2% 0%;
        font-size: 15px;
      }

    }

  }
}