.spot-cards {
  display: flex;
  justify-content: space-around;
  
  .spot-cards-container {
    display: flex;
    flex-direction: column;
    border: solid black;
    width: 32%;
    height: 300px;
    .cards {
      margin-left: 5%;

      .cards-header {
        font-size: 24px;
        margin-top: 2%;
        margin-bottom: 2%;
      }
      .cards-filter {
        display: flex;
        margin-bottom: 5px;
      }
    }
  }
}