.spotshow-master-container {
  width: 100%;
  margin: 0px auto;
  color: #333333;

  .spot-show-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    .top-level-show-container {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      height: 100%;
  
      .main-show-container {
        height: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2%;
        
  
        .show-header-container {
          width: 100%;
          display: flex;
          justify-content: center;
          height: 100%;
          box-sizing: border-box;
          flex-direction: column;
          align-items: center;
        }

        .show-content-main-container {
          width: 1080px;

          .show-content {
            width: 100%;
            height: 100%;

            .content-header-location-btn {
              position: relative;
              padding-bottom: 1px;
              margin-top: 1%;
              font-size: 13px;
              font-family: $titleFont;
              color: $standardColor;
              font-weight: 700;
            }

            .content-header-location-btn::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 2px;
              background: #666666;

              transform: scaleX(0);
              transform-origin: right;
              transition: transform 250ms ease-in;
            }

            .content-header-location-btn:hover::after {
              transform: scaleX(1);
              transform-origin: left;
            }



            .content-header {
              width: 66.66%;
              font-family: $navbarFont;
              margin-top: 10px;
              margin-bottom: 10px;
              font-weight: 600;
              font-size: 50px;
              color: #333333;
            }

            .content-list {
              margin: 10px 0;
              width: 66.66%;
              display: flex;
              justify-content: flex-start;
              align-items: center;

              .like {
                font-family: $navbarFont;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 1%;

                .like-img {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }

    .show-listing-container {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 1px 1px 0px #e3e3e3;

      .show-listing {
        width: 1080px;
        margin: 0 auto;
        
        .show-listing-column {
          width: 66.66%;
          display: flex;
          flex-direction: column;

          .overview {
            padding-top: 20px;

            .overview-header {
              margin-bottom: 5%;
            }
          }
        }
      }
    }
  }
}